.contentHolder {
  display: grid;
  // grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card:hover {
  transform: scale(1.05);
  transition: transform 250ms;
}

.cardBackground {
  min-width: 200px;
  min-height: 200px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: none;
  }

  img:hover {
    cursor: pointer;
  }
}

.cardBackground:hover {
  img {
    opacity: 0.5;
    display: block;
  }
}

#musicPlayer {
  display: none;
}

.apple_music_player_container--border {
  height: 50px !important;
}

#spinner {
  justify-content: center;
  display: none;
  text-align: center;

  img {
    margin-top: 1em;
    width: 50px;
    height: 50px;
  }
}
